<input name="buscador">

<table>
  <tbody id="user">
    <% @users.each do |user| %>
      <%= render 'collaborate', user: user %>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    $("[name='buscador']").on("input", function(){
        var filter = $(this).val();
        $.ajax({
          url: '<%= collaborate_users_path %>',
          type: 'GET',
          dataType: 'script',
          data: {filter: filter},
        })
      });
    });

</script>