<div class="cont-search-collaborate">

<div class="btn-search">    
    <input type="text" name="buscador" placeholder="Buscar colaboradores..." autocomplete="off">
    <button></button>
 </div>
<div>
<center><%= collection_select(:id, :title, current_user.materials, :id, :title)%></div></center>
<div class="cont-collaborators" id="user">
<h2>Lista de usuarios</h2>
  <%= render @users %>
</div>

<h2>Colaboradores del proyecto</h2>
</div>

<script>
  $(document).ready(function(){
    $("[name='buscador']").on("input", function(){
        var filter = $(this).val();
        $.ajax({
          url: '<%= collaborate_users_path %>',
          type: 'GET',
          dataType: 'script',
          data: {filter: filter},
        })
      });
    });

</script>