@import 'var.scss';

body{
	background-color:$gray;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color:$text;

}

::selection{ background:$main; color:#fff;}
::-moz-selection {background:$main; color:#fff;}

a{text-decoration: none;}

input{
	border:0;
	outline: none;
}


/***NAV***/

header{
	position:fixed;
	top:0;
	left:0;
	width:15%;
	max-width:270px;
	background:#fff;
	height:100%;
	z-index: 2;
	box-sizing: border-box;
	padding:30px;
	margin:0;

	.acc{
		width:100%;


		.img-profile{
			position:relative;
			margin:0 auto;
			width: 150px;
			height:150px;
			background:url('default.png') no-repeat center/cover #ccc;
			border-radius:100%;
		}

		h4{
			font-size:22px;
			text-align:center;
			text-transform:capitalize;
			margin:20px 0 5px 0;
			color:$text-dark;
			font-weight:bold;
			letter-spacing:1px;
		}

		h5{
			font-size:14px;
			text-align:center;
			margin:0 0 20px 0;			
		}

	}

	.logout{
		position:absolute;
		bottom:100px;
		width:100px;
		text-align:center;
		left:calc(50% - 50px);

	}

	.copy-right{
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		padding:20px 60px;
		text-align:center;
		box-sizing:border-box;
		font-size:10px;
	}

}


/** LOGIN****/

.log-main{
	position:fixed;
	z-index: 5;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
}

.user-login{
	position: absolute;
	top: 0;
	left: 0;
	width: 40vw;
	height: 100vh;
	background: $gray-lighter;
	z-index: 3;

	.cont-login{

		position:absolute;
		width: 380px;
		height:360px;
		top:calc(50% - 200px);
		left:calc(50% - 180px);


		input{
			width:calc(100% - 50px);
			padding:15px 25px;
			display: block;
			font-size:20px;
			margin: 0 0 15px 0;
			border-radius:5px;
			letter-spacing: .5px;
			transition:$transition-2;			
			box-shadow:0 0px 6px 0 rgba(0,0,0,0),			

		}

		input:focus,
		button:focus{
			padding:20px 30px;
			transform:translate(-2px);
			transform:scale(1.05);
			box-shadow:0 3px 6px 0 rgba(0,0,0,.15),
			0 1px 3px -1px rgba(0,0,0,.3);

		}

		input::-webkit-input-placeholder{color:$text-light;}
		input::-moz-placeholder {color:$text-light;}				
		input:-moz-placeholder {color:$text-light;}

		h2{
			font-size:33px;
			font-weight:bold;
			color:$text-darker;
			text-transform: uppercase;
		}

		h3{
			font-size:17px;
			margin: 0 0 20px 0;
		}

		button{
			outline:0;
			width:200px;
			background:$main;
			color:#fff;
			padding:15px 0;
			border:0;
			border-radius:5px;
			transition:$transition-2;			
			box-shadow:0 0px 6px 0 rgba(0,0,0,0);
			display:inline-block;
			font-weight:bold;
		}

		button:focus{
			background-color:$main-dark;
		}

		span{
			color:$main;
			position:relative;
		}

		p{
			font-size:12px;
			width:50%;
			line-height: 16px;
			position:relative;
			margin:50px 0 0 0;
		}

		p::after{
			position:absolute;
			content:'';
			left:0;
			top:-5px;
			height:1px;
			width:20px;
			background-color:$text;

		}

		a{
			right:0;
			text-align:right;
			font-size:14px;
			margin:-37px 0 40px 200px;
			width:180px;
			display:block;

		}



	}

	


}

.user-advise{
	position: absolute;
	top: 0;
	right: 0;
	width: 60vw;
	height: 100vh;
	background: url('teach.jpg') no-repeat right bottom/cover #fff;
	z-index: 3;

}




/*** MATERIALS***/



main{
	position:absolute;
	left:15%;
	width:85%;
	//max-width:calc(100% - 300px);
	box-sizing: border-box;
	padding:50px 0;
	margin:0;

	.cont-main{
		position:relative;
		margin:0 auto;
		width: 80%;
		//background:#fff;
		border-radius:10px;
		min-height: 300px;			
		//box-shadow:$shadow;
		//padding:50px;
		box-sizing:border-box;

	}

	.cont-material{
		min-height:200px;
	}

	section.material{
		/*margin: 0 0 100px 0;*/

		h1{
			color:$text-dark;
			margin: 0 0 20px 0;
			font-size: 25px;
			font-weight:300;
		}



		ul{

			// display:flex;
			// flex-direction: row;
			// flex-wrap: wrap;
			// justify-content:flex-start;
			// align-items: flex-start;
			// align-content: flex-start;
			position:relative;
			min-height:auto;

			li:nth-child(1){
				//display:none;
			}

			/*li::after{
			content:counter(li);			
   			color:$text-light;
   			position:absolute;
   			font-size: 11px;
   			left:7px;
   			top:7px;
   			}*/

   			.a-frame{
   				position:absolute;
   				box-sizing:border-box;
   				padding:25px;
   				width:100%;
   				height:100%;
   				top:0;
   				left:0;
   			}

   			li{
   				padding:25px;
					//counter-increment:li;
					background:#fff;
					box-shadow:$shadow-soft;
					box-sizing:border-box;
					width:calc(100% / 5 - 30px);
					height:200px;
					margin:0 30px 30px 0;
					transition:$transition-2;
					overflow: hidden;
					word-wrap: break-word;
					float: left;
					border-radius:5px;
					position:relative;




				h2{
					font-weight:bold;
					text-transform:capitalize;
					color:$text-dark;
					font-size: 25px;
					line-height:22px;
				}

				p{
					font-size: 14px;
				}

				.material-subject{
					position:absolute;
					bottom:10px;
					right:10px;
					font-size:10px;
					font-weight:bold;
					text-transform:uppercase;
					color:#fff;
					width:40px;
					height:18px;
					background:#999;
					border-radius:3px;
				}

				.material-subject::after{
					content:'LEN';					
					width:100%;
					height:100%;
					line-height:19px;
					position:absolute;
					left:0;
					top:0;
					text-align:center;
				}


				.subject-Lenguaje::after{content:'len'}
				.subject-Matemática::after{content:'mat'}
				.subject-Historia::after{content:'his'}
				.subject-Ciencias::after{content:'cie'}

				.subject-Lenguaje{background-color:$len;}
				.subject-Matemática{background-color:$mat;}
				.subject-Historia{background-color:$his;}
				.subject-Ciencias{background-color:$cie;}

			}

			.public-level{
				position:absolute;
				bottom:15px;
				left:10px;
				width:10px;
				height:10px;
				border-radius:100%;
				background-color:$gray-light;
				box-sizing: border-box;

			}

			.level-1::after{
				content:'Privado';
				position:absolute;
				font-size:11px;
				left:13px;
				top:0;
			}

			.level-0::after{
				content:'Público';
				position:absolute;
				font-size:11px;
				left:13px;
				top:-2px;
			}

			.level-0{
				background:#fff;
				border:2px solid $gray-light;

			}
		}


	}


	section.material ul:after {
		visibility: hidden;
		display: block;
		content: "";
		clear: both;
		height: 0;
	}



	.btn-new{background:url('add.svg') no-repeat center/20px $main;}
	/*.btn-new:hover{
		background-size:25px;
		transform:scale(1.2);
		}*/

		.material-destroy{
			opacity:0;
			transform:translate(0, 30px);
		}

		.material-delete{
			position:absolute;
			right:10px;
			top:10px;
			width:20px;
			height:20px;
			background:url('close.svg') no-repeat center/10px;
			transform:translate(5px,0);
			opacity:0;
			transition:$transition-2;

		}

		section.material ul li:hover .material-delete{
			opacity:1;
			transform:translate(0,0);
		}



	}

	.btn-round{
		position:fixed;
		bottom:20px;
		right:20px;
		width:60px;
		height:60px;
		border-radius:100%;
		box-shadow:$shadow-short;
		transition:$transition-2;
		z-index: 80;
	}



	.material-create-cont{
		position:absolute;	
		width:100%;
		left:0;
		top:0;	
		opacity:0;
		box-sizing:border-box;
		padding:30px 40px 0px 40px;
	/*display:none;	
	transform:translate3d(0,10vw,0);
	opacity:0;*/
}


.material-open{
	opacity:1;
}


.btn-open{
	position:fixed;
	width:500px;
	height:330px;
	border-radius:0;
	background-image:none!important;
	background-color:#fff!important;
}



.material--content{
	height: 100%;
	
	input::-webkit-input-placeholder{color:$text-light; font-weight:300; }
	input::-moz-placeholder {color:$text-light; font-weight:300;}			
	input:-moz-placeholder {color:$text-light; font-weight:300;}

	textarea::-webkit-input-placeholder{color:$text-light; font-weight:300; }
	textarea::-moz-placeholder {color:$text-light; font-weight:300;}			
	textarea:-moz-placeholder {color:$text-light; font-weight:300;}

	input:focus,
	textarea:focus{
		background-color:$gray-lighter;
	}

	input,
	textarea{
		padding:10px 15px;
		background:none;
		overflow:hidden;
		box-sizing:border-box;
		transition:$transition-2;
	}
	
	.title{
		width:100%;
		font-size:37px;
		font-weight:bold;
	}

	.description{
		width:100%;
		font-size:20px;
		border:none;
		resize: none;
		width:100%;
		margin:0 0 20px 0;
	}

	ul{
		display:flex;

		li{
			width:calc(100%/3);
			padding:0 5px;
			box-sizing:border-box;

			h5{
				margin: 0 0 5px 0;
			}

			select{
				width:100%;
			}

		}
	}

}

.btn-create{
	background:$main;
	color:#fff;
	text-transform:uppercase;
	border:0;
	border-radius:3px;
	position:absolute;
	right:30px;
	padding:10px 15px;
	font-size:12px;
	bottom:30px;
	transition:$transition-2;
	transform:translate3d(0,-20px,0);
	opacity:0;
}

.material-open .btn-create{
	transform:translate3d(0,0,0);
	opacity:1;

}

	.btn-create:focus,
	.btn-create:hover{
		background:$main-dark
	}


.btn-action{
	position:absolute;
	top:0;
	left:0;
	cursor:pointer;
	width:100%;
	height:100%;
	z-index: 33;
}


.shadow-box{
	display:none;
	position:fixed;
	right:0;
	bottom:0;
	background-color:rgba(0,0,0,.6);
	width:100%;
	height:100%;
}

.material-off{
	filter:grayscale(1);
}

