@import 'var.scss';

body{
	background-color:$gray;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color:$text;

}


::selection{ background:$main; color:#fff;}
::-moz-selection {background:$main; color:#fff;}


a{text-decoration: none;}

input{
	border:0;
	outline: none;
}


/***NAV***/

header{
	position:fixed;
	top:0;
	left:0;
	width:15%;
	min-width:300px;
	background:#fff;
	height:100%;
	z-index: 2;
	box-sizing: border-box;
	padding:30px;
	margin:0;

	.acc{
		width:100%;


		.img-profile{
			position:relative;
			margin:0 auto;
			width: 150px;
			height:150px;
			background:url('default.png') no-repeat center/cover #ccc;
			border-radius:100%;
		}

		h4{
			font-size:22px;
			text-align:center;
			text-transform:capitalize;
			margin:20px 0 5px 0;
			color:$text-dark;
			font-weight:bold;
			letter-spacing:1px;
		}

		h5{
			font-size:14px;
			text-align:center;
			margin:0 0 20px 0;			
		}

	}

	.logout{
		position:absolute;
		bottom:100px;
		width:100px;
		text-align:center;
		left:calc(50% - 50px);

	}

	.copy-right{
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		padding:20px 60px;
		text-align:center;
		box-sizing:border-box;
		font-size:10px;
	}

}


/** LOGIN****/

.user-login{
	position: absolute;
	top: 0;
	left: 0;
	width: 40vw;
	height: 100vh;
	background: $gray-lighter;
	z-index: 3;

	.cont-login{

		position:absolute;
		width: 380px;
		height:360px;
		top:calc(50% - 200px);
		left:calc(50% - 180px);


		input{
			width:calc(100% - 50px);
			padding:15px 25px;
			display: block;
			font-size:20px;
			margin: 0 0 15px 0;
			border-radius:5px;
			letter-spacing: .5px;
			transition:$transition-2;			
			box-shadow:0 0px 6px 0 rgba(0,0,0,0),			

		}

		input:focus,
		button:focus{
			padding:20px 30px;
			transform:translate(-2px);
			transform:scale(1.05);
			box-shadow:0 3px 6px 0 rgba(0,0,0,.15),
			0 1px 3px -1px rgba(0,0,0,.3);

		}

		input::-webkit-input-placeholder{color:$text-light;}
		input::-moz-placeholder {color:$text-light;}				
		input:-moz-placeholder {color:$text-light;}

		h2{
			font-size:33px;
			font-weight:bold;
			color:$text-darker;
			text-transform: uppercase;
		}

		h3{
			font-size:17px;
			margin: 0 0 20px 0;
		}

		button{
			outline:0;
			width:200px;
			background:$main;
			color:#fff;
			padding:15px 0;
			border:0;
			border-radius:5px;
			transition:$transition-2;			
			box-shadow:0 0px 6px 0 rgba(0,0,0,0);
			display:inline-block;
			font-weight:bold;
		}

		button:focus{
			background-color:$main-dark;
		}

		span{
			color:$main;
			position:relative;
		}

		p{
			font-size:12px;
			width:50%;
			line-height: 16px;
			position:relative;
			margin:50px 0 0 0;
		}

		p::after{
			position:absolute;
			content:'';
			left:0;
			top:-5px;
			height:1px;
			width:20px;
			background-color:$text;

		}

		a{
			right:0;
			text-align:right;
			font-size:14px;
			margin:-37px 0 40px 200px;
			width:180px;
			display:block;

		}



	}

	


}

.user-advise{
	position: absolute;
	top: 0;
	right: 0;
	width: 60vw;
	height: 100vh;
	background: url('teach.jpg') no-repeat right bottom/cover #fff;
	z-index: 3;

}




/*** MATERIALS***/



main{
	position:absolute;
	left:15%;
	width:85%;
	min-width:calc(100% - 300px);
	box-sizing: border-box;
	padding:100px 0;
	margin:0;

	.cont-main{
		position:relative;
		margin:0 auto;
		width: 80%;
		background:#fff;
		border-radius:10px;
		min-height: 300px;			
		box-shadow:$shadow;
		padding:50px;
		box-sizing:border-box;

	}

	section.material{
		margin: 0 0 100px 0;

		h1{
			color:$text-dark;
			margin: 0 0 20px 0;
		}



		ul{

			display:flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content:center;
			position:relative;

			li:nth-child(1){
				display:none;
			}

			li{
				border:1px solid red;
				padding:20px;
				box-sizing:border-box;
				width:calc(100% / 5 - 20px);
				height:200px;
				margin:0 20px 20px 0;
				transition:$transition-2;
				overflow: hidden;
			}
		}


	}



	.btn-new{background:url('add.svg') no-repeat center/20px $main;}
	.btn-new:hover{
		background-size:25px;
		transform:scale(1.2);
	}

	.material-destroy{
		opacity:0;
		transform:translate(0, -70px);
	}

}

.btn-round{
	position:fixed;
	bottom:20px;
	right:20px;
	width:60px;
	height:60px;
	border-radius:100%;
	box-shadow:$shadow-short;
	transition:$transition-2;
}


