<li class="nested-fields nested-alternative">
	<fieldset>
	  <%= f.text_field :content, placeholder:'Alternativa...' %>
	  <%#= f.check_box :_destroy %>
	  <%#= f.label :_destroy, "Eliminar" %>
	  <%= link_to_remove_association "", f, class:'alternative-delete', tabindex:'-1' %>
	</fieldset>
</li>
