<table class="table-materials">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Asignatura</th>
      <th>Nivel</th>
    </tr>
  </thead>
  
  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= material.title %></td>
        <td><%= material.description %></td>
        <td><center><div class="material-subject <%= material.subject.name %>"></div></center></td>
        <td><%= material.level.name %></td>  
      </tr>
    <% end %>
  </tbody>
        
</table>