<table id="all">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Asignatura</th>
      <th>Nivel</th>
    </tr>
  </thead>
  
  <tbody class="page">
    <% @materials.each do |material| %>
      <%= render 'all', material: material %>
    <% end %>
  </tbody>
        
</table>