<div><input name="buscador"></div>
<tr>
<td>Seleccione el proyecto a modificar:</td>
<td><%= collection_select(:id, :title, current_user.materials, :id, :title)%></td>
</tr>
<table>
  <tbody id="user">
    <% @users.each do |user| %>
      <%= render 'collaborate', user: user %>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    $("[name='buscador']").on("input", function(){
        var filter = $(this).val();
        $.ajax({
          url: '<%= collaborate_users_path %>',
          type: 'GET',
          dataType: 'script',
          data: {filter: filter},
        })
      });
    });

</script>