<main> 

  <section class="material">
    <h1>Mis Materiales</h1>
    <div class="cont-material">
    </div>
  </section>

  <section class="material">
    <h1>Mis Colaboraciones</h1>
    <div class="cont-material">
    </div>

  </section>

  <%= link_to 'New Material', new_material_path %>
</main> 