  <section class="material">
    <h1>Mis Materiales</h1>
    <div class="cont-material">

    <ul id="sortable">
        <li>
          <%= render @materials %>
        </li>
      </ul>

    </div>

          <%= render 'form', material: @material %>

    <h1>Colaboración</h1>
    <div class="cont-material">

<p class="notice"><%= notice %></p>
    </div>

  </section>


 <%= link_to '', new_material_path, class:'btn-round btn-new' %>
