  <section class="material">
    <h1>Mis Materiales</h1>
    <div class="cont-material">

      <ul id="sortable">
      
      <li>
      <% @materials.each do |material| %>
      <%= render 'materials', material: material %>
      <% end %>
      </li>
      </ul>

    </div>


  <h1>Colaboración</h1>
    <div class="cont-material">

    </div>

  </section>

<!--   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#sortable" ).sortable({
      revert: false
    });
    $( "ul, li" ).disableSelection();
  } );
  </script> -->

  <!-- <section class="material">
    <h1>Mis Colaboraciones</h1>
    <div class="cont-material">
    </div>

  </section> -->

  <%= link_to '', new_material_path, class:'btn-round btn-new' %>
